/****************/
/* BELOW 1344px (Smaller desktops) */


/*****************/
@media(max-width: 84em) {
    .secondary-heading {
        font-size: 3.9rem;
    }

    .tertiary-heading {
        font-size: 2.5rem;
    }

    .services-text {
        font-size: 1.6rem;
    }

    .services-list {
        font-size: 1.2rem;
    }

    .service-image {
        height: auto;
        max-width: 30rem;
    }
}

/* 940  Landskape tablets*/


@media(max-width: 59em) {
    .secondary-heading {
        font-size: 3.2rem;
    }

    .services {
        gap: 2.6rem;
    }

    .tertiary-heading {
        font-size: 2.5rem;

    }

    .services-text {
        font-size: 2rem;
    }

    .services-list {
        font-size: 1.6rem;
    }

    .service-image {
        height: auto;
        max-width: 17rem;
    }
}