* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 2.4rem;
    color: #333
}


/* 
FONT-SIZE SYSTEM

12.8/16/20/25/31.3/39.1/48.8

1.8rem
2.4rem
39

LINE HEIGHT
1.6
1.8

PRIMARY COLOR: #1F2937



TINTS AND SHADES


tints
#E5E7EB
#F9FAF8

shades
#1F2937


greys
#333

SPACING SYSTEM

2/4/6/8/ 12/ 16/ 24/ 36/ 48/ 60/ 72/ 84 / 96 

8
16
84
36

LETTER SPACING
-0.3px

*/

/* HEADER */
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
}

.skip-link {
    position: absolute;
    top: -4.5rem;
    left: 0;
    background: #F9FAF8;
    color: #1F2937;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

.logo-image {
    height: auto;
    max-width: 4.1rem;
}

.logo {
    font-size: 2.4rem;
}

.logo-link {
    display: flex;
    align-items: center;
}

.logo-link:link,
.logo-link:visited {
    text-decoration: none;
    color: #F9FAF8;
}

.logo-link:active,
.logo-link:hover {
    color: #E5E7EB;
    text-decoration: dotted;
    transition: all 0.3ms ease-in;
}

.navigation {
    list-style-type: none;
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

.nav-link:link,
.nav-link:active {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 2.4rem;
}

.nav-link:active,
.nav-link:hover {
    color: #E5E7EB;
    transition: all 0.3ms ease-in;
}


.container {
    max-width: 120rem;
    /* background-color: darkslategray; */
    margin: 0 auto;
    padding: 8.4rem;
}

.secondary-heading {
    font-size: 4.8rem;
    margin-bottom: 3.6rem;
    letter-spacing: -0.3px;
}

.services {
    display: flex;
    padding: 4.8rem 6rem;
    gap: 4.8rem;
    /* background-color: burlywood; */

}

.services:first-child {
    padding-top: 0;
}

.tertiary-heading {
    font-size: 3.6rem;
    margin-bottom: 2.4rem;
}

.services-text {
    margin-bottom: 2.4rem;
    line-height: 1.6;
}

.services-list {
    margin-left: 3.6rem;
    font-size: 1.8rem;
}

.service-image {
    height: auto;
    max-width: 38rem;
    border-radius: 1.6rem;
}

.footer {
    color: #F9FAF8;
    background-color: #1F2937;
}

.footer-navigation {
    margin-left: auto;
    max-width: 25.1rem;
}

.copyright {
    text-align: center;
    font-size: 1.8rem;
}